// BASE STYLES:

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: $tertiary;
}

button {
    font-size: $base-font-size;
    text-align: center;
    line-height: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px;
    width: 100%;
    border: none;
}

.comment-button {
    &:hover,
    &:focus {
        background-color: #0b4739;
        color: $solid-white;
        cursor: pointer;
    }
}

.submit-button {
    &:hover,
    &:focus {
        background-color: #16243f;
        color: $solid-white;
        cursor: pointer;
    }
}


img {
    height: 100%;
    width: 100%;
    display: block;
}

a, 
input, 
label {
    display: inline-block;
}

article {
    display: inline-block;
}