// .main-img {
//     position: relative;
// }

.blog-main {
    display: flex;
    justify-content: flex-end;
    // height: fit-content;
}

.main-img {
    padding-left: 30px;

    img {
        box-shadow: -30px 30px $primary;
    }
}

.blog {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 200px;  
    
    .main-blog {
        margin: 0 100px 10px 0;
        border-bottom: 5px solid $primary;
        border-left: 5px solid $primary;

        h3 {
            text-align: left;
            padding-left: 5px;
            margin-top: 50px;
        }

    }
}


// SIDE BLOG:
.blog-main {
    position: relative;
}

.side-blog {
    padding-top: 100px;
    // position: relative;
    
    .side-image {
        height: auto;
        width: 33.5%;
        position: absolute;
        left: 0;
        top: 4%;
        z-index: 10;
    }

    .article-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 20px 30px 30px;
        height: 115vh;
        width: 380px;
        background-color: $secondary;
        position: absolute;
        top: 10px;
        right: 70px;

        .top-text {
            margin-bottom: 40px;
        }

        h4 {
            font-size: 1.2rem;
        }

        p {
            padding: 0;
        }
        
        
        ul li {
            margin-left: 15px;
            list-style: disc;
            color: $solid-white;
        } 
    }
    
}



// COMMENTS:
.comments {
    // width: 60%;
    display: flex;
    flex-direction: column;
    width: 90%;

    h4 {
        margin: 20px;
    }

    .comment-div{
        display: flex;
        justify-content: center;
    }

    .comment-img {
        height: 85px;
        width: auto;
        margin: 20px;
    }

    .comment-text {
        width: 80%;
    
    }
}









