// CONTACT SECTION STYLES:

.contact-main {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main .wrapper {
    position: relative;
}


.social-icons ul {
    display: flex;
    padding: 0 0 0 40px; 

    li {
        margin: 0 10px;
    }
}


.contact-info {
    padding: 0 0 0 50px;
    
    p {
        padding: 0;
    }
}


.contact-section {
    display: flex;
    height: auto;
    width: 60%;
    box-shadow: -30px 30px $primary;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 35px;
}


.submit-button {
    margin-left: 10px;
}


.contact-footer {
    margin-top: 50px;
}