// FORM STYLES:

.form-section {
    display: flex;
    padding: 0 50px 50px 0;
}


input,
textarea {
    border: none;
    font-family: $body-font;
    color: $solid-white;
    background-color: $tertiary;
    margin: 20px 10px;
    padding: 10px 20px;
    
    &::placeholder {
        font-family: $body-font;
        font-size: $base-font-size;
        opacity: 1;
    }
    &:focus,
    &:hover {
        background-color: #111e35;
        border: 1px solid #b1caf5;
        transition: 0.2s;
    }
}

input {
    border-bottom: 1px solid $primary;
    width: calc(50% - 23px);
}

textarea {
    border: 1px solid $primary;
    width: 100%;
}

.comment-button {
    background-color: $secondary;
    margin-left: 10px;
}

.submit-button {
        background-color: $tertiary;
}

.contact-section {
    background-color: $secondary;
    padding: 50px;
    
    input,
    textarea {
        background-color: $secondary;
    }


}
