// HEADER STYLES:
header {
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    position: relative;
}


.index-header {
    background-image: url(../assets/header-image.jpg);
    .overlay {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.blog-header {
    background-image: url(../assets/blog-header.jpg);
}

.contact-header {
    background-image: url(../assets/contact-header.jpg);
} 


.header-img {
    text-align: right;
    height: auto;
    width: 50%;
    position: absolute;
    top: 180px;
    right: 0;
    
}

