

// ABOUT SECTION

.about  {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px;
    
    p {
        text-align: left;
        margin-bottom: 30px;
    }
}


// BLOG-INTRO SECTION:

.blog-intro {
    background-color: $secondary;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 20px 0;
    
    .additions,
    .nemo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        height: 40vh;
    }

    .additions-img,
    .nemo-img {
        max-height: 65vh;
        width: 43%;
        object-fit: cover;
    }

    .additions-text,
    .nemo-text {
        vertical-align: center;
        margin: 50px 0;
        width: 40%;
    }
    
    .additions {
        margin-bottom: 25px;
    }

    .nemo {
        margin-top: 25px;
        padding-bottom: 50px;

    }

    .additions-img {
        margin: -80px 50px 20px 0;
        box-shadow: 30px 30px $primary;
    }

    .nemo-img {
        margin: 20px 0 -30px 50px; 
        box-shadow: -30px 30px $primary;
    }


    .additions-text {
        text-align: left;
        margin: 0 50px 0 0;

        p {
            padding-left: 0;
        }
    }

    .nemo-text {
        text-align: right;
        margin: 0 0 0 50px;

        p {
            padding-right: 0;
        }
    }
}


// CONTACT-INTRO SECTION:

.contact-intro {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
    .top-info,
    .bottom-info {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    .subsection {
        display: flex;
        width: calc(50% - 20px);
        padding: 20px;
    }

    .contact-text h4 {
        padding-right: 10px;
        margin-left: 8px;
    }

    .icon {
        display: flex;
        height: 80px;
    
        
        a {
            border-radius: 50%;
            display: inline-block;
            width: 60px;
            text-align: center;
            font-size: 36px;
            margin: 10px;
            
            .fa-solid {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

        }
    
    }

}


// GALLERY SECTION


.gallery-top {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
     
    img {
        width: 100%;
    }
}

.profile {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile-img {
        height: auto;
        width: 65%;
        object-fit: contain;
        margin: 30px;
        box-shadow: 30px 30px $primary;


    }

    .profile-text {
        margin: 30px;
        text-align: left;

        p,
        a {
            margin-left: 30px;
            
        }

        p {
            padding-left: 0;
        }

    }
}


.gallery {
    height: auto;
    padding: 60px 0;
    background-color: $secondary;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .gallery-image {
        height: 50vh;
        margin: 25px;
        display: inline-block;
        width: calc(30% - 40px);
        
        img {
            object-fit: contain;
        }
    }
}

