
////// ******** HOMEPAGE ******** ///////

@media (max-width: 1160px) {
// PROFILE-INTRO
    .profile-text {
        width: 100%;
    }

// GALLERY:
    .gallery {
        padding: 0;
    }
}



@media (max-width: 980px) {

// HEADER:
    h1 {
        font-size: 5rem;
    }
    
//BLOG-INTRO:
    .blog-intro {
        .additions,
        .nemo {
            height: auto;
            margin: 0;
            padding: 10px 0 30px 0;
            
        }
    
        .additions-img {
            margin: 0 50px 0 0;
        }
    
        .nemo-img {
            margin: 0 0 0 50px;
        }
    
        .nemo {
            margin-top: 0;
        }
    }

// CONTACT-INTRO:
    .contact-intro {
        height: auto;
        flex-direction: row;
        // margin: 150px 0;

        .subsection {
            width: 100%;
        }

        .top-info,
        .bottom-info {
            flex-direction: column;
        }
    }


// GALLERY:
    .gallery-container {
    flex-direction: column;
    
        .gallery-image {
            margin: 50px auto;
            height: 80vh;
            width: 100%;
        }
    }

    .additions-img,
    .nemo-img {
        margin: 0;
    }
}




@media (max-width: 768px) {
// HEADER:  
    .header-nav ul {
        justify-content: center;
    }
    
    
    .header-img {
        top: 640px; 
    }

    h1 {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

// ABOUT:
    .about {
        h3 {
            width: 60%;
            padding-top: 30px;
            margin-bottom: 30px;
        }

        p {
            padding-top: 50px;
        }
    }

// BLOG-INTRO:
    .blog-intro {
        .additions {
            flex-direction: column;
        }

        .nemo {
            flex-direction: column-reverse;
        }

        .additions-img,
        .nemo-img {
            max-height: 65vh;
            width: 80%;
            object-fit: cover;
        }

        .additions-text,
        .nemo-text {
            text-align: center;
            margin: 50px 0 0 0;
            width: 80%;
        }
    }
// PROFILE: 
    .profile {
        margin: 70px 0;
        flex-direction: column;

        .profile-text {
            text-align: center;
            margin: 0;
        }
    }

// GALLERY:
    .gallery {
            .gallery-image {
                height: 60vh;
            }
        }

}




@media (max-width: 685px) {
    h1 {
        font-size: 4rem;
    }

    .about h3 {
        padding-top: 10px;
        margin-bottom: 10px;
        }
}



@media (max-width: 650px) {
    .header-img {
        right: 30%; 
        height: 232px;
        width: 281px;
        border-right: 15px solid $primary;
    }
    .about {
        margin-bottom: 100px;

        h3 {
        width: 100%;
        margin-top: 250px;
        padding: 0;
        }

        p {
            padding-top: 10px;
            margin-bottom: 0;
            text-align: center;
        }
    }

}



@media (max-width: 580px) {
    .about {
        margin-bottom: 150px;

        h3 {
            margin-top: 300px;
        }
    }
}

@media (max-width: 580px) {
    .about {
        h3 {
            margin-top: 350px;
        }
    }
}




@media (max-width: 480px) {
// HAVE NAV POP INTO A SLIDE OUT MENU

    .header-img {
        right: 25%;
    }
// ABOUT:
    .about {
        margin-bottom: 200px;

        h3 {
            margin-top: 400px;
        }
    }


// BLOG-INTRO:
    .blog-intro {
        .additions-img,
        .nemo-img {
            width: 100%;
            box-shadow: none;
            margin: 0;
        }
    }

// GALLERY:
    .gallery {
        .gallery-image {
            height: 50vh;
        }
    }
}







////// ******** BLOG PAGE ******** ///////


@media (max-width: 980px) {
    .blog-header h2 {
        margin-right: 0;
    }

    .blog-main {
        flex-direction: column;
    }

    .side-blog {
        width: 100%;
        padding: 50px 0 0 150px;
        margin-top: 0;

        .side-image {
            max-height: 30%;
            max-width: 34.5%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 50px;
            z-index: 10;
        }
    }

    .img-background {
        display: none;
    }
    
    .article-text {
        height: 42vh;
        margin: 0 0 0 100px;
        padding: 0 100px 0 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;

        .top-text,
        .bottom-text {
            width: 50%;
            height: 100%;
            margin-bottom: 0;

            p {
                font-size: 0.8rem;
            }
        }

        .top-text {
            padding-left: 100px;
        }
        
        .bottom-text {
            padding-left: 50px;

        }
    }

    .blog {
        height: auto;
        width: 100%;
        margin-top: 50px;
        
        .main-blog {
            margin: 0 auto;
            align-items: center;
        }
    }
}

@media (max-width: 850px) {
    .article-text {
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;

        .top-text,
        .bottom-text {
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .side-blog {
        .side-image {
            max-height: auto;
            max-width: 300px;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 50px;
            z-index: 10;
        }
    }
}

@media (max-width: 768px) {
    input {
        width: 80%;
    }
}


@media (max-width: 580px) {
    .side-blog {
        margin: 300px 0 0 0;
        padding: 0;
        // background-color: $secondary;
        display: flex;
        flex-direction: column;
        align-items: center;

        .side-image {
            height: 50vh;
            max-width: 100%;
            object-fit: scale-down;
            position: absolute;
            left: 0;
            top: 50px;
            z-index: 10;
        }
    }
    .article-text {
        margin: 90px 0 0 0;
    }

    input {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .side-blog {
        background-color: $secondary;

        .side-image {
            height: auto;
            width: 100%;
        }
    }

    .top-text {
        padding-top: 50px;
    }

    h5 {
        padding: 20px 0;
    }
}