// HEADER MAIN SECTION

.about  {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px;
    
    p {
        text-align: left;
        margin-bottom: 30px;
    }
}



.blog-intro {
    background-color: $secondary;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .additions,
    .nemo {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
    }

    .additions-img,
    .nemo-img {
        height: 60%;
        // margin: 0;
        position: absolute;
    }

    .additions-text,
    .nemo-text {
        margin: 20px;
        width: 43%;
    }
    
    .additions {
        justify-content: flex-end;
        margin-bottom: 25px;
    }

    .nemo {
        justify-content: flex-start;
        margin-top: 25px;
    }

    .additions-img {
        margin: 0;
        top: -70px;
        left: 0;
        box-shadow: 30px 30px $primary;
    }

    .nemo-img {
        margin: 0;
        bottom: -60px;
        right: 0;
        box-shadow: -30px 30px $primary;
    }


    .additions-text {
        text-align: left;
        margin-left: 0;

        p {
            padding-left: 0;
        }
    }

    .nemo-text {
        text-align: right;
        margin-right: 0;

        p {
            padding-right: 0;
        }
    }
}




.contact-intro {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .top-info,
    .bottom-info {
        display: flex;
        justify-content: space-between;
    }

    .subsection {
        display: flex;
        width: calc(50% - 20px);
        padding: 20px;
    }

    .contact-text h4 {
        padding-right: 10px;
        margin-left: 8px;
    }

    .icon {
        display: flex;
        height: 80px;
    
        
        a {
            border-radius: 50%;
            display: inline-block;
            width: 60px;
            text-align: center;
            font-size: 36px;
            margin: 10px;
            
            .fa-solid {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

        }
    
    }

}



.gallery-top {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
     
    img {
        width: 100%;
    }
}

.profile {
    height: 55vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile-img {
        height: 35vh;
        margin: 30px;
        box-shadow: 30px 30px $primary;
    }

    .profile-text {
        margin: 30px;
        text-align: left;

        p {
            padding: 0;
        }

    }
}


.gallery-images {
    height: 70vh;
    width: 100%;
    background-color: $secondary;
    display: flex;
    align-items: center;
    
    .gallery-flex {
        display: flex;
        justify-content: center;
    }

    .gal-img {
        margin: 10px;
        height: 55vh;
        display: inline-block;
        width: calc(33% - 30px);
    }
}

