// SITE FONTS: 
$heading-font: "Barlow", sans-serif;
$body-font: "Lato", sans-serif;
$base-font-size: 0.9rem;

// SITE COLOURS:
$primary: #86E0F9;
$secondary: #0f614e;
$tertiary: #0C1423;
$solid-white: #ffffff;