html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul,
li,
input,
p {
  margin: 0;
  padding: 0;
}

button,
footer {
  text-align: center;
}

h1,
h2,
h3,
h4,
nav,
a,
button {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  line-height: 6.3rem;
  width: 25%;
  text-align: left;
  margin: 50px;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
  margin-top: 160px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  padding: 30px;
}

.blog-header h2 {
  margin-right: 95px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 10px 0;
}

p,
h5,
footer {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: #ffffff;
  font-weight: lighter;
}

p {
  padding: 10px;
}

footer p {
  padding: 5px;
  color: black;
  background-color: #86E0F9;
}

ul {
  font-family: "Barlow", sans-serif;
  font-size: 0.9rem;
  line-height: 1.45rem;
  letter-spacing: 1px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, afocus {
  color: #86E0F9;
}

a {
  margin: 10px 0;
}

.about a,
.month-profile a {
  color: black;
  background-color: #86E0F9;
  padding: 10px 30px;
}

.blog-intro a {
  background-color: #0C1423;
  padding: 10px 30px;
}

.additions a {
  text-align: left;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-nav ul li {
  margin: 10px 30px;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #0C1423;
}

button {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  width: 100%;
  border: none;
}

.contact-intro a,
.profile a {
  color: black;
  background-color: #86E0F9;
  padding: 10px 30px;
}

.about a:hover,
.about a:focus,
.contact-intro a:hover,
.contact-intro a:focus,
.profile a:hover,
.profile a:focus {
  background-color: #74c1d6;
  color: black;
  cursor: pointer;
  border: 2px solid #86E0F9;
}

.additions a:hover,
.additions a:focus,
.nemo a:hover,
.nemo a:focus {
  background-color: #0f1b30;
  cursor: pointer;
  border: 2px solid #0C1423;
}

.comment-button:hover, .comment-button:focus {
  background-color: #0b4739;
  color: #ffffff;
  cursor: pointer;
}

.submit-button:hover, .submit-button:focus {
  background-color: #16243f;
  color: #ffffff;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

a,
input,
label {
  display: inline-block;
}

article {
  display: inline-block;
}

header {
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
}

.index-header {
  background-image: url(../assets/header-image.jpg);
  height: 90vh;
}
.index-header .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
}

.contact-header {
  background-image: url(../assets/contact-header.jpg);
  z-index: 0;
}

.header-img {
  text-align: right;
  height: auto;
  width: 50%;
  position: absolute;
  top: 180px;
  right: 0;
}

.hamburger-menu {
  display: none;
  margin: 10px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 30;
}
.hamburger-menu .menu-icon {
  font-size: 1.6rem;
  position: relative;
  padding: 20px 0;
  cursor: pointer;
}
.hamburger-menu .dropdown-nav {
  position: absolute;
  margin: 0 20px;
  padding: 0 20px;
}
.hamburger-menu .dropdown-nav a:active .dropdown-menu,
.hamburger-menu .dropdown-nav li:hover .dropdown-menu,
.hamburger-menu .dropdown-nav li:focus .dropdown-menu li a {
  display: block;
  position: absolute;
  left: 0;
  color: #86E0F9;
  text-decoration: underline;
  cursor: pointer;
}
.hamburger-menu .dropdown-menu {
  display: none;
  margin: 0;
  width: 110px;
  -webkit-transition: 3s;
  transition: 3s;
  padding: 0 10px;
  color: #ffffff;
  background-color: rgba(17, 31, 54, 0.7);
}
.hamburger-menu .dropdown-menu li {
  padding: 5px 0;
  margin-left: 0;
  padding-left: 0;
  max-width: 20px;
}

.about {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 50px;
}
.about p {
  text-align: left;
  margin-bottom: 30px;
}

.blog-intro {
  background-color: #0f614e;
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}
.blog-intro .additions,
.blog-intro .nemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  height: 40vh;
}
.blog-intro .additions-img,
.blog-intro .nemo-img {
  max-height: 65vh;
  width: 43%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-intro .additions-text,
.blog-intro .nemo-text {
  vertical-align: center;
  margin: 50px 0;
  width: 40%;
}
.blog-intro .additions {
  margin-bottom: 25px;
}
.blog-intro .nemo {
  margin-top: 25px;
  padding-bottom: 50px;
}
.blog-intro .additions-img {
  margin: -80px 50px 20px 0;
  -webkit-box-shadow: 30px 30px #86E0F9;
          box-shadow: 30px 30px #86E0F9;
}
.blog-intro .nemo-img {
  margin: 20px 0 -30px 50px;
  -webkit-box-shadow: -30px 30px #86E0F9;
          box-shadow: -30px 30px #86E0F9;
}
.blog-intro .additions-text {
  text-align: left;
  margin: 0 50px 0 0;
}
.blog-intro .additions-text p {
  padding-left: 0;
}
.blog-intro .nemo-text {
  text-align: right;
  margin: 0 0 0 50px;
}
.blog-intro .nemo-text p {
  padding-right: 0;
}

.contact-intro {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}
.contact-intro .top-info,
.contact-intro .bottom-info {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-intro .subsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 20px);
  padding: 20px;
}
.contact-intro .contact-text h4 {
  padding-right: 10px;
  margin-left: 8px;
}
.contact-intro .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}
.contact-intro .icon a {
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 36px;
  margin: 10px;
}
.contact-intro .icon a .fa-solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.gallery-top {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.gallery-top img {
  width: 100%;
}

.profile {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile .profile-img {
  height: auto;
  width: 65%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 30px;
  -webkit-box-shadow: 30px 30px #86E0F9;
          box-shadow: 30px 30px #86E0F9;
}
.profile .profile-text {
  margin: 30px;
  text-align: left;
}
.profile .profile-text p,
.profile .profile-text a {
  margin-left: 30px;
}
.profile .profile-text p {
  padding-left: 0;
}

.gallery {
  height: auto;
  padding: 60px 0;
  background-color: #0f614e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .gallery-image {
  height: 50vh;
  margin: 25px;
  display: inline-block;
  width: calc(30% - 40px);
}
.gallery .gallery-image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-img {
  padding-left: 35px;
}
.main-img img {
  -webkit-box-shadow: -35px 35px #86E0F9;
          box-shadow: -35px 35px #86E0F9;
}

.blog {
  width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -200px;
}
.blog .main-blog {
  margin: 0 105px 10px 0;
  border-bottom: 5px solid #86E0F9;
  border-left: 5px solid #86E0F9;
}
.blog .main-blog h3 {
  text-align: left;
  padding-left: 5px;
  margin-top: 50px;
}

.blog-main {
  position: relative;
}

.side-blog {
  padding-top: 100px;
  width: 30%;
}
.side-blog .side-image {
  max-height: 20%;
  max-width: 32%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 4%;
  z-index: 10;
}
.side-blog .img-background {
  height: 50vh;
  width: 88%;
  background-color: #0f614e;
}
.side-blog .article-text {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 88%;
  background-color: #0f614e;
}
.side-blog .article-text .top-text {
  margin-bottom: 20px;
}
.side-blog .article-text h4 {
  font-size: 1.2rem;
}
.side-blog .article-text p {
  padding: 0;
}
.side-blog .article-text ul li {
  margin-left: 15px;
  list-style: disc;
  color: #ffffff;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}
.comments h4 {
  margin: 20px;
}
.comments .comment-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comments .comment-img {
  height: 85px;
  width: auto;
  margin: 20px;
}
.comments .comment-text {
  width: 80%;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px 50px 0;
}

input,
textarea {
  border: none;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-color: #0C1423;
  margin: 20px 10px;
  padding: 10px 20px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  opacity: 1;
}
input:focus, input:hover,
textarea:focus,
textarea:hover {
  background-color: #111e35;
  border: 2px solid #b1caf5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input {
  border-bottom: 1px solid #86E0F9;
  width: calc(50% - 23px);
}

textarea {
  border: 1px solid #86E0F9;
  width: 100%;
}

.comment-button {
  background-color: #0f614e;
  margin-left: 10px;
}

.submit-button {
  background-color: #0C1423;
}

.contact-section {
  background-color: #0f614e;
  padding: 50px;
}
.contact-section input,
.contact-section textarea {
  background-color: #0f614e;
}
.contact-section input:hover, .contact-section input:focus,
.contact-section textarea:hover,
.contact-section textarea:focus {
  background-color: #0b4739;
}

.contact-main {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .wrapper {
  position: relative;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 40px;
}
.social-icons ul li {
  margin: 0 10px;
}

.contact-info {
  padding: 0 0 0 50px;
}
.contact-info p {
  padding: 0;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 60%;
  -webkit-box-shadow: -30px 30px #86E0F9;
          box-shadow: -30px 30px #86E0F9;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 35px;
}

.submit-button {
  margin-left: 10px;
}

.contact-footer {
  margin-top: 50px;
}

@media (max-width: 1160px) {
  .profile-text {
    width: 100%;
  }

  .gallery {
    padding: 0;
  }
}
@media (max-width: 980px) {
  h1 {
    font-size: 5rem;
  }

  .blog-intro .additions,
.blog-intro .nemo {
    height: auto;
    margin: 0;
    padding: 10px 0 30px 0;
  }
  .blog-intro .additions-img {
    margin: 0 50px 0 0;
  }
  .blog-intro .nemo-img {
    margin: 0 0 0 50px;
  }
  .blog-intro .nemo {
    margin-top: 0;
  }

  .contact-intro {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-intro .subsection {
    width: 100%;
  }
  .contact-intro .top-info,
.contact-intro .bottom-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-container .gallery-image {
    margin: 50px auto;
    height: 80vh;
    width: 100%;
  }

  .additions-img,
.nemo-img {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header-nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .home-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-img {
    top: 550px;
  }

  .home-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-heading h1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .about {
    height: auto;
  }
  .about h3 {
    vertical-align: center;
    width: 60%;
    margin-top: 30px;
  }
  .about p {
    padding-top: 50px;
  }

  .blog-intro .additions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-intro .nemo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog-intro .additions-img,
.blog-intro .nemo-img {
    max-height: 65vh;
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blog-intro .additions-text,
.blog-intro .nemo-text {
    text-align: center;
    margin: 50px 0 0 0;
    width: 80%;
  }

  .profile {
    margin: 70px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile .profile-text {
    text-align: center;
    margin: 0;
  }

  .gallery .gallery-image {
    height: 60vh;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 4rem;
  }

  .header-img {
    position: static;
    margin: 0 auto;
    margin-top: 200px;
    height: 232px;
    width: 281px;
    border-right: 15px solid #86E0F9;
  }

  .about {
    margin-bottom: 100px;
  }
  .about h3 {
    width: 100%;
    margin-top: 200px;
    padding: 0;
  }
  .about p {
    padding-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  header {
    height: 100vh;
    padding-top: 100px;
  }

  .home-heading {
    margin-top: 100px;
  }

  .header-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .blog-intro .additions-img,
.blog-intro .nemo-img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
  }

  .gallery .gallery-image {
    height: 50vh;
  }
}
@media (max-width: 430px) {
  h1 {
    font-size: 3rem;
  }

  .about,
.profile-text {
    margin: 30px 10px;
  }

  .subsection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 10px 0;
    text-align: center;
  }

  .icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 980px) {
  .blog-header h2 {
    margin-right: 0;
  }

  .blog-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .side-blog {
    width: 95%;
    padding: 50px 0 0 150px;
    height: auto;
    margin-top: 0;
  }
  .side-blog .side-image {
    max-height: 30%;
    max-width: 34.5%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 10;
  }

  .img-background {
    display: none;
  }

  .article-text {
    height: 42vh;
    margin: 0 0 0 100px;
    padding: 0 100px 0 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-text .top-text,
.article-text .bottom-text {
    width: 50%;
    height: 100%;
    margin-bottom: 0;
  }
  .article-text .top-text p,
.article-text .bottom-text p {
    font-size: 0.8rem;
  }
  .article-text .top-text {
    padding-left: 100px;
  }
  .article-text .bottom-text {
    padding-left: 50px;
  }

  .blog {
    height: auto;
    width: 100%;
    margin-top: 50px;
  }
  .blog .main-blog {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 850px) {
  .article-text {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .article-text .top-text,
.article-text .bottom-text {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .side-blog .side-image {
    max-height: auto;
    max-width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 10;
  }
}
@media (max-width: 768px) {
  input {
    width: 80%;
  }
}
@media (max-width: 580px) {
  .side-blog {
    height: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .side-blog .side-image {
    height: 50vh;
    max-width: 100%;
    position: static;
  }

  input {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .side-blog {
    width: 100%;
    background-color: #0f614e;
    margin: 0;
    padding: 0;
  }
  .side-blog .article-text {
    margin: 5px;
  }
  .side-blog .top-text,
.side-blog .bottom-text {
    margin: 0;
    padding: 0;
  }
  .side-blog .side-image {
    height: auto;
    width: 100%;
  }

  h5 {
    padding: 20px 0;
  }

  .comment-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .comment-div .comment-img {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 60px;
  }
}
@media (max-width: 980px) {
  .contact-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .contact-main .contact-section {
    width: 90%;
    bottom: -50px;
    position: static;
    margin: 50px 0 50px 60px;
  }
  .contact-main .contact-info {
    text-align: center;
    padding: 0;
  }
  .contact-main .social-icons ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .contact-main .contact-info h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .form-section.contact-section {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .contact-section {
    width: 100%;
    padding: 10px 40px 40px 20px;
  }

  .contact-info h4 {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .contact-info h4 {
    font-size: 0.9rem;
  }
}